.bg-img {
    min-height: 550px;
    background-image: url(../media/header\ photo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .navbar-light .navbar-nav .nav-link.active{
    color: #ffffff
}

.navbar-collapse{
    text-align: center;
}
.h2, h2 {
    font-size: 5rem;
}