.bg-gris{
    background-color:$bg-gris;
}

.img-carte{
    width: 310px;
    height: 85px;
}

.title-carte{
    font-size:1.08rem;
}

.ingredients{
font-size: 0.8rem;
line-height: 20px;
}
