.bg-header {
    min-height: 100vh;
    background-image: url(../media/header-photo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .navbar-light .navbar-nav .nav-link.active{
    padding-right: 0;
    padding-left: 5px;
}

.navbar-collapse{
    text-align: center;
}

.h1, h1 {
  font-size: 6.5rem;
}
.orange{
color:#ffa600;
}

