.offres{

    background-image: url("../media/fond-offre.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.img-dejeuner{
    width:180px;
    height:110px;
}

.title-offre{
    font-size:30px;
}

.row.offre{
    padding-top: 80px;
}

.offre-intitule{
    font-size:80px;
}

.offre-prix{
    font-size: 20px;
}


.lobster{
    font-family: $lobster;
}

.text-orange{
    color: $text-orange;
}

.montserrat{
    font-family: $montserrat; 
}

.largentin{
    font-size: 30px;
}

.moment{
    font-size: 30%; 
}
