.container-fluid{
    min-height: 100vh;
    background-image: url("../media/loffredumoment.png");
    background-position: center;
    background-size: cover;
}

.img-dejeuner{
    width:180px;

    height:108px;
}