.offres{
    min-height: 100vh;
    background-image: url("../media/loffredumoment.png");
    background-position: center;
    background-size: cover;
}

.img-dejeuner{
    width:180px;
    height:150px;
}

.pad-bot30{
    margin-bottom: 30%;
}

.row.offre{
    padding-top: 80px;
}

.lobster{
    font-family: $lobster;
}

.text-orange{
    color: $text-orange;
}

.montserrat{
    font-family: $montserrat; 
}

.largentin{
    font-size: 30px;
}

.moment{
    font-size: 30%; 
}
